:root{
    --white: #ffffff;
    --rose: #E9DCD3;
    --brown: #CF946A;
    --dark: #303030;
    --gray: #9EA294;
}


.carrossel{
    display: flex;
    justify-content: center;

    background-color: var(--brown);
}
.carousel, .slide{
    width: 900px;
}

.carousel-inner{
    width: 100%;
}

.carousel-item{
    width: 100%;
}

.carousel-caption, .d-none, .d-md-block{
    background: rgba(0, 0, 0, 0.3);
}

