*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Limita todas as caixas para o máximo da borda*/
}

/*Elementos raízes para uso em todo o site*/
:root{
    --vermelho: #e50914;
    --preta: #141414;
    --cinza: rgb(163, 160, 160);
}

.carrossel-filmes{
    margin-top: 10px;
}

/* Segundo carrossel */

.carousel, .slide{
    width: 250px;
}
